<h2>
  Cart
</h2>
<p>
  <a routerLink="../shipping">Shipping Prices</a>
</p>
<div *ngFor="let item of items"
     class="cart-item">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency:'EUR' }}</span>
</div>
<div *ngIf="done">
  <h1>
    All done!
  </h1>
</div>
<div *ngIf="items.length">
  <button (click)="clearCart()"
          id="clearButton">
    Clear cart
  </button>
  <form (ngSubmit)="onSubmit(checkoutForm.value, items)"
        [formGroup]="checkoutForm">
    <div>
      <label for="name">Name</label>
      <input [formControlName]="'name'"
             id="name"
             type="text">
    </div>
    <div>
      <label for="address">Address</label>
      <input [formControlName]="'address'"
             id="address" type="text">
    </div>
    <button class="button"
            id="purchaseButton"
            type="submit">
      Purchase
    </button>
  </form>
</div>
