<div>
  Przeciągnięcie z wciśniętym <span style="font-weight: bold">Ctrl</span> kopiuje element.
</div>
<div>
  Kliknięcie z wciśniętym <span style="font-weight: bold">Shift</span> usuwa/wstawia element.
</div>
<ng-container *ngFor="let node of nodes; let i = index">
  <div #divElementOuter
       (click)="onClick($event, i)"
       (dragover)="onDragOver($event, i)"
       (drop)="onDrop($event, i, divElementOuter)"
       (mousedown)="onMouseDown($event, divElementOuter, i)"
       [ngStyle]="{left: node.L, top: node.T, zIndex: getNextZ(i)}"
       class="node transition cursor-move"
       draggable="true">
    <ng-container *ngIf="node.blob">
      <div (dragstart)="onDragStart($event, i, divElementOuter)"
           (mousedown)="$event.stopPropagation()"
           [style.z-index]="getZFromOuterEl(divElementOuter)"
           class="blob blob-text cursor-crosshair"
           draggable="true">
        <span class="char-fix">{{ node.content }}</span>
      </div>
    </ng-container>
  </div>
</ng-container>
<app-foooter></app-foooter>
