p {
  margin-bottom: 0.25rem;
  margin-top: 1.75rem
}

p#owl {
  font-size: 4em
}

a {
  color: rgb(0, 0, 238);
  cursor: pointer;
  text-decoration: none
}

a.lang {
  text-decoration-line: underline
}

a.selected {
  color: currentColor;
  opacity: 0.75
}

a.not-allowed {
  cursor: not-allowed
}

input[type=checkbox] {
  /*transform: scale(0.75);*/
  margin: 0 0 0 0.15rem;
  position: relative;
  top: 2px
}

.db-check {
  color: orangered;
  font-size: xxx-large;
  position: absolute;
  top: -1.2rem
}

.logged-in {
  color: forestgreen
}

nav#selection a:hover {
  background-color: rgba(216, 229, 250, .4);
  outline: 2px rgba(216, 229, 250, .4) solid
}

div#for-bar p {
  /*display: inline-block;*/
  /*outline: 1px blue solid;*/
  /*vertical-align: middle*/
}

p#bar {
  background-color: brown;
  /*height: calc(1em + 5px);*/
  /*height: calc(1em + 8px);*/
  left: -4px;
  position: absolute;
  top: calc(1em - 2px);
  /*top: calc(1em - 4px);*/
  transition: transform .25s ease-in-out, opacity .45s ease-in-out, height .125s ease-out;
  width: 2px
}
