p {
  margin-top: 1.75rem;
  margin-bottom: 0.25rem
}

p#owl {
  font-size: 4em
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 238)
}

a.lang {
  text-decoration-line: underline
}

a.selected {
  color: currentColor;
  opacity: 0.75
}

a.not-allowed:hover {
  cursor: not-allowed
}

input[type=checkbox] {
  /*transform: scale(0.75);*/
  margin: 0 0 0 0.15rem;
  position: relative;
  top: 2px
}

.db-check {
  color: orangered;
  font-size: xxx-large;
  position: absolute;
  top: -1.2rem
}

.logged-in {
  color: forestgreen
}

nav#selection a:hover {
  background-color: rgba(216, 229, 250, .4);
  outline: 2px rgba(216, 229, 250, .4) solid
}

p#bar {
  /*outline: 1px blue solid;*/
}

p#bar::before {
  background-color: brown;
  content: "";
  display: block;
  height: calc(1em + 0px);
  left: -4px;
  opacity: 0;
  /*outline: 1px green solid;*/
  position: absolute;
  transition: transform .25s ease-in-out, opacity .45s ease-in-out;
  width: 2px
}

p#bar.start::before {
  opacity: 1;
  transform: translateY(10em) scaleY(10)
}
