body {
  font-size: 100%
}

.activated-color {
  background-color: red;
  border-radius: 5px 0 0 0;
  padding: 5px
}

p {
  margin-top: 1.75rem;
  margin-bottom: 0.25rem
}

p#owl {
  font-size: 4em
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 238)
}

a.lang {
  text-decoration-line: underline
}

a.selected {
  color: currentColor;
  opacity: 0.75
}

input[type=checkbox] {
  /*transform: scale(0.75);*/
  margin: 0 0 0 0.15rem;
  position: relative;
  top: 2px
}

div.version {
  color: black;
  transition: font-size 1.5s ease-out 0.5s;
  font-size: xx-small;
  opacity: 0.6
}

div.bigger {
  font-size: xx-large
}
