<div>
  <nav style="font-size: xx-small">
    <a [class.selected]="localeId === localeIdNumbers[1033]"
       [href]="'/' + localeIdNumbers[1033]"
       [id]="localeIdNumbers[1033]"
       class="lang">
      {{ localeIdNumbers[1033] | uppercase }}</a>
    &bull;
    <a [class.selected]="localeId === localeIdNumbers[1045]"
       [href]="'/' + localeIdNumbers[1045]"
       [id]="localeIdNumbers[1045]"
       class="lang">
      {{ localeIdNumbers[1045] | uppercase }}</a>
  </nav>
</div>
<p>
  Wybierz:
</p>
<div>
  <nav>
    <a routerLink="/crisis">Crisis Center</a>
    <br>
    <a routerLink="/forms">Formularze</a>
    <br>
    <a routerLink="/ng-heroes">Heroes</a>
    <br>
    <a routerLink="/shop">Shop</a>
  </nav>
</div>
<p id="owl">
  🦉
</p>
<div class="bottom-right">
  <nav>
    <a [routerLinkActive]="'activated activated-color'"
       [routerLink]="'/choose'">
      Do choice</a>
  </nav>
</div>
