<p>
  Dashboard
</p>
<p>
  Reading from path:<br>
  - Session ID: {{ sessionId | async }},<br>
  - Token: {{ token | async }}
</p>
<hr>
<div style="position: relative">
  <button (click)="cloudFirebaseService.login()"
          style="margin-right: 10px"
          type="button">Cloud Firestore login</button>
  <button (click)="cloudFirebaseService.logout()"
          style="margin-right: 10px"
          type="button">Cloud Firestore logout</button>
  <button (click)="setOtherField()"
          type="button">Cloud Firestore change key in object</button>
  <ng-container *ngIf="cloudFirebaseService.tock.a">
    <div class="confirm-signal">
      <span *ngIf="cloudFirebaseService.tock.b"
            [style]="{color: 'green'}">OK!</span><span *ngIf="!cloudFirebaseService.tock.b"
                                                       [style]="{color: 'red'}">ERR!</span>
    </div>
  </ng-container>
</div>
<p>
  Read from persistence (pole$): &#123; pole: <b>{{ (pole$ | async) || '—' }}</b> }
  <br>
  Read from persistence (pole2$): &#123; pole: <b>{{ (pole2$ | async) || '—' }}</b> }
</p>
<p>
  authState$: <b>{{ (authState$ | async) || 'null' }}</b>
  <br>
  currentUser: <b>{{ cloudFirebaseService.getCurrentUser() | json }}</b>
</p>
<p>
  docObj$: <b>{{ (docObj$ | async) || 'null' }}</b>
  <br>
  docObj2$: <b>{{ (docObj2$ | async) || 'null' }}</b>
  <br>
  docTest$: <b>{{ (cloudFirebaseService.docTest$ | async) || 'null' }}</b>
</p>
<hr>
<p style="margin-bottom: 0">
  Preloaded modules:
</p>
<ul style="margin-top: 0; padding: 0 0 0 20px">
  <li *ngFor="let module of modules">
    {{ module }}
  </li>
</ul>
