<p>
  Dashboard
</p>
<p>
  Reading from path:<br>
  - Session ID: {{ sessionId | async }},<br>
  - Token: {{ token | async }}
</p>
<hr>
<div>
  <button (click)="cloudFirebaseService.login()"
          style="margin-right: 10px"
          type="button">Cloud Firestore login</button>
  <button (click)="cloudFirebaseService.logout()"
          type="button">Cloud Firestore logout</button>
</div>
<p>
  Read from persistence: &#123; pole: <b>{{ (pole2$ | async) || '—' }}</b> }
</p>
<p>
  authState$: <b>{{ (authState$ | async) || 'null' }}</b>
  <br>
  currentUser: <b>{{ cloudFirebaseService.getCurrentUser() | json }}</b>
</p>
<p>
  docObj$: <b>{{ (docObj2$ | async) || 'null' }}</b>
</p>
<hr>
<p style="margin-bottom: 0">
  Preloaded modules:
</p>
<ul style="margin-top: 0; padding: 0 0 0 20px">
  <li *ngFor="let module of modules">
    {{ module }}
  </li>
</ul>
