<p>
  Dashboard
</p>
<p>
  Reading from path:<br>- Session ID: {{ sessionId | async }},<br>- Token: {{ token | async }}
</p>
<hr>
<div style="display: flex; flex-wrap: wrap">
  <button (click)="cFRepository.login()"
          type="button">Cloud Firestore login</button>
  <button (click)="cFRepository.logout()"
          type="button">Cloud Firestore logout</button>
  <!--<button (click)="setOtherField()"-->
  <!--        type="button">Cloud Firestore change key in object</button>-->
  <!--<ng-container *ngIf="cloudFirebaseService.tock.a">-->
  <!--  <div class="confirm-signal">-->
  <!--      <span *ngIf="cloudFirebaseService.tock.b"-->
  <!--            [style]="{color: 'green'}">OK!</span><span *ngIf="!cloudFirebaseService.tock.b"-->
  <!--                                                       [style]="{color: 'red'}">ERR!</span>-->
  <!--  </div>-->
  <!--</ng-container>-->
  <!--<app-confirm-signal [name]="'konfirm1'"-->
  <!--                    [okOrError]="true"></app-confirm-signal>-->
  <div class="flex-breaker"></div>
  <button (click)="setWithConfirm('appConfirmSignalId0')"
          type="button">Cloud Firestore change key in object</button>
  <app-confirm-signal name="appConfirmSignalId0"
                      rightPx="11"
                      topPx="25"></app-confirm-signal>
  <button (click)="deleteDefaultDocForTemplateDrivenForm('appConfirmSignalId1')"
          pTooltip="default document for template driven form."
          type="button">Delete...</button>
  <app-confirm-signal [timeoutMs]="2000"
                      name="appConfirmSignalId1"
                      rightPx="11"
                      topPx="25"></app-confirm-signal>
  <button (click)="deleteDefaultDocForTemplateDrivenForm('appConfirmSignalId2')"
          disabled
          pTooltip="default document for reactive form."
          type="button">Delete...</button>
  <app-confirm-signal [timeoutMs]="2000"
                      name="appConfirmSignalId2"
                      rightPx="11"
                      topPx="25"></app-confirm-signal>
</div>
<p>
  Read from persistence (pole$): &#123; pole: <b>{{ (pole$ | async) || '—' }}</b> }
  <br>
  Read from persistence (pole2$): &#123; pole: <b>{{ (pole2$ | async) || '—' }}</b> }
</p>
<p>
  authState$: <b>{{ (authState$ | async) || 'null' }}</b>
  <br>
  currentUser: <b>{{ cFRepository.getCurrentUser() | json }}</b>
</p>
<p>
  docObj$: <b>{{ (docObj$ | async) || 'null' }}</b>
  <br>
  docObj2$: <b>{{ (docObj2$ | async) || 'null' }}</b>
  <br>
  docTest$: <b>{{ (cFRepository.docTest$ | async) || 'null' }}</b>
</p>
<hr>
<p style="margin-bottom: 0">
  Preloaded modules:
</p>
<ul style="margin-top: 0; padding: 0 0 0 20px">
  <li *ngFor="let module of modules">
    {{ module }}
  </li>
</ul>
