div {
  --cssVariable: 200px
}

.wrapper {
  border: 1px rgba(0, 0, 0, .35) solid;
  height: 2000px;
  position: relative
}

.wrapper::after {
  background: url("~/../assets/kratka.png") repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: .35;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

#handle {
  background-color: green;
  border: 2px darkgreen solid;
  height: 300px;
  left: 350px;
  position: relative;
  top: 150px;
  width: var(--cssVariable, 200px)
}

#handle2 {
  background-color: blue;
  border: 2px darkblue solid;
  height: 300px;
  position: fixed;
  right: 33px;
  top: 33px;
  width: var(--cssVariable)
}

#bar {
  align-items: center;
  background-color: darkblue;
  color: white;
  cursor: move;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  text-align: center
}
