.wrapper {
  height: 2000px;
  border: 1px rgba(0, 0, 0, .35) solid;
  position: relative
}

.wrapper::after {
  content: '';
  background: url('/assets/kratka.png') repeat;
  opacity: .35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1
}

#handle {
  background-color: green;
  border: 2px darkgreen solid;
  position: relative;
  top: 150px;
  left: 1350px;
  width: 200px;
  height: 300px
}

#handle2 {
  background-color: blue;
  border: 2px darkblue solid;
  position: fixed;
  top: 33px;
  right: 33px;
  width: 200px;
  height: 300px
}
