<section>
  <h3>Contact Crisis Center</h3>
  <div *ngIf="details">
    {{ details }}
  </div>
  <div>
    <div>
      <label for="note">Message:</label>
    </div>
    <div>
    <textarea [(ngModel)]="message"
              [disabled]="sending"
              [ngStyle]="{width: '294px'}"
              cols="35"
              id="note"
              rows="10"
    ></textarea>
    </div>
  </div>
  <p *ngIf="!sending">
    <button (click)="send()">Send</button>&nbsp;
    <button (click)="cancel()">Cancel</button>
  </p>
</section>
