p.list {
  margin: 0 auto;
  border: 1px solid black;
  border-top: none;
  width: 20%;
  float: left;
  clear: both
}

p.list:first-child {
  margin-block-start: 1em
}

p.list:last-child {
  margin-block-end: 1em
}

.first {
  margin-block-start: 1em
}

.first-sm {
  margin-block-start: .5em
}

.clear-both {
  clear: both
}

table {
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed
}

table, th, td {
  border: 1px solid black
}

th, td {
  padding: 5px 10px;
  min-width: 300px
}

.L {
  text-align: left
}

.R {
  text-align: right
}

span#test0::before {
  content: "Suma:";
  position: absolute;
  right: calc(50% + 1.75ch)
}
