<p>
  app-root2 works! // tu forms // {{ und?.length || '-' }}/{{ t }} {{ und2.length }}/{{ tt }}
</p>
<section>
  <div>
    <button (click)="dodajLiczbe()"
            type="button">
      dodaj liczbę
    </button>
  </div>
  <div>
    <p *ngFor="let dana of dane; let index = index"
       class="list">
      <sub>{{ index }}</sub>&nbsp;<b>{{ dana }}</b>
    </p>
  </div>
</section>
<section>
  <div class="first clear-both">
    <input #input0
           (input)="weryfikacja(input0)"
           id="inputEl0"
           placeholder="—"
           style="width: 50px; text-align: center"
           type="text"/>
    <label for="inputEl0"
           style="margin: 0"> %</label>
    <p class="first-sm"
       style="font-weight: bold; font-size: x-large">
      {{ input0.value }}
    </p>
  </div>
</section>
<app-foooter></app-foooter>
