<cite>
  <a href="https://coryrylan.com/blog/subscribing-to-multiple-observables-in-angular-components"
     target="_blank">
    https://coryrylan.com/blog/subscribing-to-multiple-observables-in-angular-components</a></cite>
<h2>
  Manual Subscriptions
</h2>
<ng-container>
  <p>
    single value: {{ first }}
    <br>
    delayed value: {{ second }}
    <br>
    multi values: {{ third }}
  </p>
</ng-container>
<h2>
  Async Pipe
  <button (click)="show = !show">Toggle</button>
</h2>
<ng-container *ngIf="show">
  <p>
    single value: {{ first$ | async }}
    <br>
    delayed value: {{ second$ | async }}
    <br>
    multi values: {{ third$ | async }}
  </p>
</ng-container>
<h2>
  ForkJoin and *ngIf
  <button (click)="show2 = !show2">Toggle</button>
</h2>
<ng-container *ngIf="show2">
  <ng-container *ngIf="values$ | async; let arek;">
    <p>
      single value: {{ arek['first'] }}
      <br>
      delayed value: {{ arek['second'] }}
      <br>
      <del>no multi values:</del>
      {{ arek['third'] || '-' }}
    </p>
  </ng-container>
</ng-container>
<h2>
  Combine Latest and *ngIf
  <button (click)="show3 = !show3">Toggle</button>
</h2>
<ng-container *ngIf="show3">
  <ng-container *ngIf="values$$ | async; let arek">
    <p>
      single value: {{ arek['first'] }}
      <br>
      delayed value: {{ arek['second'] }}
      <br>
      multi values: {{ arek['third'] }}
    </p>
  </ng-container>
</ng-container>
<h2>
  Subscribing with Async Pipe Objects
  <button (click)="show4 = !show4">Toggle</button>
</h2>
<ng-container *ngIf="show4">
  <ng-container *ngIf="{first: this.first$$ | async, second: second$$ | async, third: third$$ | async} as arek">
    <p>
      single value: {{ arek.first }}
      <br>
      delayed value: {{ arek.second }}
      <br>
      multi values: {{ arek.third }}
    </p>
  </ng-container>
</ng-container>
<h2>
  <b>Additional</b>: onErrorResumeNext()
  <button (click)="show5 = !show5">Toggle</button>
</h2>
<ng-container *ngIf="show5">
<pre>
this.values$$$ = onErrorResumeNext&lt;string>(
  getSingleValueObservable(100),
  getMultiValueObservable().pipe(map&lt;number, string>((el) => el + '')));</pre>
  <ng-container *ngIf="values$$$ | async; let arek">
    <p>
      value: {{ arek }}
    </p>
  </ng-container>
</ng-container>
<h2>
  <b>Additional</b>: withLatestFrom()
  <button (click)="show6 = !show6">Toggle</button>
</h2>
<ng-container *ngIf="show6">
<pre>
this.values$$$$ = getMultiValueObservable().pipe(
  withLatestFrom&lt;number, &#123;first: number, second: number}>(getMultiValueObservable(4000), (one, two) => &#123;
    return &#123;first: one, second: two};
  }));</pre>
  <p>
    both values:
    <ng-container *ngIf="values$$$$ | async; let arek">
      {{ arek['first'] }}, {{ arek['second'] }}
    </ng-container>
  </p>
</ng-container>
<div class="bottom-right bottom-right-generic">
  <nav>
    <a routerLink="/choose">Back to choice</a>
  </nav>
</div>
<h2>
  <b>Additional</b>: different delay Observable&lt;number>
  <button (click)="show7 = !show7">Toggle</button>
</h2>
<ng-container *ngIf="show7">
<pre>
function getMultiValuesWithDifferentDelay(del = 20, del2 = 20, interval = 100, qty = 10): Observable&lt;number> &#123;
  return new Observable&lt;number>((observer) => &#123;
    const delResulted = del * interval;
    const delResulted2 = del2 * interval;
    if (interval < 100) &#123;
      interval = 100;
    }
    let tick = true;
    let done = true;
    let count = 1;
    let timeout;
    let timeout2;

    const intervalId = setInterval(() => &#123;
      if (done) &#123;
        done = false;
        if (tick) &#123;
          timeout = setTimeout(() => &#123;
            observer.next(count);
            tick = false;
            done = true;
            clearTimeout(timeout2);
            console.log('------------------------------------ interval fired after delResulted =', delResulted, 'ms, emitted:', count++);
          }, delResulted);
        } else &#123;
          timeout2 = setTimeout(() => &#123;
            observer.next(count);
            tick = true;
            done = true;
            clearTimeout(timeout);
            console.log('------------------------------------ interval fired after delResulted2 =', delResulted2, 'ms, emitted:', count++);
          }, delResulted2);
        }
      }
    }, interval);
    return () => &#123;
      clearInterval(intervalId);
      clearTimeout(timeout);
      clearTimeout(timeout2);
    };
  })
    .pipe(take(qty));
}

this.values$$$$$ = getMultiValuesWithDifferentDelay(20, 80, undefined, 30);
this.values$$$$$$ = getMultiValuesWithDifferentDelay(80, 20);</pre>
  <p>
    value1: {{ (values$$$$$ | async) || 'N/A' }}
    <br>
    value2: {{ (values$$$$$$ | async) || 'N/A' }}
  </p>
</ng-container>
<div class="bottom-right bottom-right-generic">
  <nav>
    <a routerLink="/choose">Back to choice</a>
  </nav>
</div>
