p {
  margin: 0;
  padding: 1.245em 10px 0
}

h2 {
  margin-bottom: 0
}

button {
  margin-left: 10px;
  position: absolute
}

pre {
  font-family: monospace;
  color: darkslategray;
  /*padding: 5px 10px 10px; !*1.532308em 0.383em*!*/
  padding: 3px 5px 5px;
  margin: 1.532308em 10px 0;
  background-color: lightgray;
  border: darkgray dashed 1px;
  width: max-content
}

pre.toHide {
  margin: 0
}

div.toHide {
  width: max-content;
  margin: 1.245em 10px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 0;
  transition: height .4s linear 0s
}
