@font-face {
  font-family: Google Serif;
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2) format("woff2")
}

@font-face {
  font-family: Google Sans;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2) format("woff2")
}

@font-face {
  font-family: Google Sans;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2) format("woff2")
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2")
}

:host ::ng-deep * {
  --buttonRadius: 4px;
  --elementHeight: 2rem;
  --elementRadius: 4px;
  --fix: 1px;
  --formMargin: 5px;
  --inputBorderColor: black;
  --inputFocusBorderColor: #1a73e8;
  --inputTextColor: #202124;
  --labelTextColor: #202124;
  --outerRadius: 12px;
  --sectionBackgroundColor: #fff;
  --widthDefault: 150px
  /*outline: 1px solid black*/
}

::ng-deep body.body_background_image {
  /*background-image: url(https://surveymonkey-assets.s3.amazonaws.com/smtheme/stock/7d00e426-ce61-5e7d-9106-a6e4e0311e0f.png)*/
  background-image: url(~/../assets/pattern.png)
}

.block {
  display: block
}

section {
  background-color: var(--sectionBackgroundColor, #fff);
  border-radius: var(--outerRadius, 12px);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  left: 50%;
  margin-right: -50%;
  padding: 25px;
  position: absolute;
  top: 5%;
  /*transform: translate(-50%, -50%);*/
  width: calc(var(--widthDefault, 150px) * 8 / 3)
}

div.form-container {
  align-items: center; /*opt*/
  display: flex;
  /*height: 225px;*/
  justify-content: center /*opt*/
}

div.form-container > div {
  width: 100% /*opt*/
}

div.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

div.buttons-block {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: calc(var(--formMargin, 5px) * 5)
}

div.button {
  text-align: center;
  width: calc(var(--widthDefault, 150px) * 3 / 3)
}

div.button button {
  background-color: #1a73e8;
  border-radius: var(--buttonRadius, 4px);
  color: white;
  /*width: 90%*/
  outline: none;
  text-decoration: none;
  width: calc(100% - var(--formMargin, 5px) * 2)
}

div.button button:hover {
  background-color: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3)
}

div.button button:focus {
  background: #5094ed
}

div.add-button {
  cursor: default;
  /*outline: 1px blue solid;*/
  padding-left: var(--formMargin, 5px);
  padding-right: var(--formMargin, 5px);
  padding-top: calc(var(--formMargin, 5px) - var(--fix, 1px));
  /*position: relative;*/
  transition: transform .15s ease-in
}

div.add-button span {
  color: var(--labelTextColor, #202124);
  font-family: monospace;
  font-size: 16px;
  letter-spacing: -2.1px;
  padding-right: 2px
}

div.add-button-activated {
  transform: rotateY(-.5turn)
}

div.add-button::before {
  /*bottom: 5px;*/
  /*content: "[+]";*/
  /*outline: 1px green solid;*/
  /*padding-right: 2px;*/
  /*position: absolute;*/
  /*right: 5px*/
}

div.add-button-minus::before {
  /*content: "[-]"*/
}

button::-moz-focus-inner {
  border: 0
}

span.label-text {
  color: var(--labelTextColor, #202124);
  font-family: Google Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px
}

input.input-text,
textarea.input-text {
  color: var(--inputTextColor, #202124);
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px
}

span.button-text {
  font-family: Google Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .25px
}

div.form-row-check {
  align-items: center;
  color: orangered;
  display: flex;
  font-size: .9rem;
  font-weight: 600;
  /*height: 2rem;*/
  justify-content: flex-start; /*opt*/
  padding-left: var(--formMargin, 5px);
  width: 100%
}

div.form-row-check:first-of-type {
  padding-top: var(--formMargin, 5px)
}

i.material-icons {
  font-size: 1.5rem;
  font-weight: inherit;
  padding-right: var(--formMargin, 5px)
}

label.form-row-label {
  padding-bottom: var(--formMargin, 5px);
  padding-left: var(--formMargin, 5px);
  width: calc(var(--widthDefault, 150px) * 2)
}

div ~ div.form-row label.form-row-label { /* pierwszy operand w '~' może być tylko 'type selector' */
  padding-top: var(--formMargin, 5px)
}

input.form-row-input,
textarea.form-row-input {
  box-sizing: border-box;
  height: var(--elementHeight, 2rem);
  margin: 0;
  outline: none;
  padding: 2px var(--formMargin, 5px) 1px;
  transition: border-color 150ms cubic-bezier(.4, 0, .2, 1);
  width: 50%
}

textarea.form-row-input {
  max-width: 50%;
  min-height: var(--elementHeight, 2rem);
  min-width: 50%;
  padding: calc(var(--formMargin, 5px) + var(--fix, 1px)) var(--formMargin, 5px) 1px
}

textarea.height-for-multiline {
  height: calc(var(--elementHeight, 2rem) * 2);
  min-height: calc(var(--elementHeight, 2rem) * 2)
}

input.left:focus, input.right:focus, textarea.right:focus {
  border-color: var(--inputFocusBorderColor, #1a73e8)
}

input.left:focus + input.right,
input.left:focus + textarea.right {
  border-left-color: var(--inputFocusBorderColor, #1a73e8)
}

div.form-row:focus-within input.left {
  border-right-color: var(--inputFocusBorderColor, #1a73e8)
}

input.left {
  border-bottom: 2px var(--inputBorderColor, black) solid;
  border-left: 2px var(--inputBorderColor, black) solid;
  border-radius: var(--elementRadius, 4px) 0 0 var(--elementRadius, 4px);
  border-right: 1px var(--inputBorderColor, black) solid;
  border-top: 2px var(--inputBorderColor, black) solid
}

input.right,
textarea.right {
  border-bottom: 2px var(--inputBorderColor, black) solid;
  border-left: 1px var(--inputBorderColor, black) solid;
  border-radius: 0 var(--elementRadius, 4px) var(--elementRadius, 4px) 0;
  border-right: 2px var(--inputBorderColor, black) solid;
  border-top: 2px var(--inputBorderColor, black) solid
}
