<section>
  <label class="form-template"
         for="id">A</label><input class="form-template left"
                                  id="id"
                                  type="text"><input class="form-template right"
                                                     type="text">
  <label class="form-template"
         for="id2">B</label><input class="form-template left"
                                   id="id2"
                                   type="text"><input class="form-template right"
                                                      type="text">
  <label class="form-template"
         for="id3">C</label><input class="form-template left"
                                   id="id3"
                                   type="text"><input class="form-template right"
                                                      type="text">
  <label class="form-template"
         for="id4">D</label><input class="form-template left"
                                   id="id4"
                                   type="text"><input class="form-template right"
                                                      type="text">
  <div class="button">
    Anuluj
  </div>
  <div class="button">
    Reset
  </div>
  <div class="button">
    Zapisz
  </div>
</section>
<app-foooter></app-foooter>
