* {
  box-sizing: border-box
}

.margin-fix {
  /*margin: -2em*/
  margin: 0;
  display: flow-root
}

.container {
  display: flex;
  flex-direction: row
}

::ng-deep router-outlet + app-product-list,
::ng-deep router-outlet + app-product-details,
::ng-deep router-outlet + app-cart,
::ng-deep router-outlet + app-shipping {
  padding: 0 16px
}

/* Text */
::ng-deep h1 {
  font-size: 32px;
}

::ng-deep h2 {
  font-size: 20px;
}

::ng-deep h1, h2 {
  font-weight: lighter
}

::ng-deep h3.detail {
  color: #1976D2;
  font-weight: bold
}

/* Hyperlink */
::ng-deep a {
  cursor: pointer;
  color: #1976D2;
  text-decoration: none;
}

::ng-deep a:hover {
  opacity: 0.8;
}

/* Input */
::ng-deep input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 4px;
  border: 1px solid #BDBDBD;
}

/* Button */
::ng-deep .button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976D2;
  color: white;
  border: none
}

::ng-deep .button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

::ng-deep .button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */
::ng-deep .fancy-button {
  background-color: white;
  color: #1976d2;
}

::ng-deep .fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */
app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

::ng-deep app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */
::ng-deep .cart-item,
::ng-deep .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

/*-------------*/
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px
}

nav a:visited, a:link {
  color: #607d8b
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc
}
