:host ::ng-deep * {
  box-sizing: border-box
}

:host ::ng-deep .margin-fix {
  /*margin: -2em*/
  display: flow-root;
  margin: 0
}

:host ::ng-deep .container {
  display: flex;
  flex-direction: row
}

::ng-deep router-outlet + app-product-list,
::ng-deep router-outlet + app-product-details,
::ng-deep router-outlet + app-cart,
::ng-deep router-outlet + app-shipping {
  padding: 0 16px
}

/* Text */
:host ::ng-deep h1 {
  font-size: 32px
}

:host ::ng-deep h2 {
  font-size: 20px
}

:host ::ng-deep h1,
:host ::ng-deep h2 {
  font-weight: lighter
}

:host ::ng-deep h3.detail {
  color: #1976D2;
  font-weight: bold
}

/* Hyperlink */
:host ::ng-deep a {
  color: #1976D2;
  cursor: pointer;
  text-decoration: none
}

:host ::ng-deep a:hover {
  opacity: 0.8
}

/* Input */
:host ::ng-deep input {
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 8px
}

/* Button */
:host ::ng-deep .button, button {
  align-items: center;
  background-color: #1976D2;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  padding: 8px 16px
}

:host ::ng-deep .button:hover, button:hover {
  font-weight: normal;
  opacity: .8
}

:host ::ng-deep .button:disabled, button:disabled {
  cursor: auto;
  opacity: .5
}

/* Fancy Button */
:host ::ng-deep .fancy-button {
  background-color: white;
  color: #1976d2
}

:host ::ng-deep .fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px
}

/* Top Bar */
app-top-bar {
  align-items: center;
  background-color: #1976d2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 68px;
  justify-content: space-between;
  padding: 16px;
  width: 100%
}

:host ::ng-deep app-top-bar h1 {
  color: white;
  margin: 0
}

/* Checkout Cart, Shipping Prices */
:host ::ng-deep .cart-item,
:host ::ng-deep .shipping-item {
  background-color: #EEEEEE;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  max-width: 450px;
  min-width: 400px;
  padding: 16px 32px;
  width: 100%
}
